

body {
    margin-top: 100px;
    background-color: beige;
}

h1 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

ul {
    padding: 0;
}

ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
    width: 100%;
}

input {
    border: none;
    width: 100%;
}